
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  padding: 0 20vw 0 20vw;
  background-color: #fce4ec;
}

.text {
  color: #e91e63;
  font-size: 2rem;
}